{{/* Template to create a cooking tip file */ -}}
type: tip
timestamp: {{.Timestamp}}
title: {{.Title}}
category: {{.Category}}
tags:
  {{range $tag := .Tags -}}
  - {{$tag}}
  {{end}}
description:

instructions:
  -

